<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121492766993-sgh1davca2aalbv6us1f0424e9uj1v26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121492766993-sgh1davca2aalbv6us1f0424e9uj1v26</string>
	<key>API_KEY</key>
	<string>AIzaSyDndLS4ERHCuaD_nTGsqrn4o2PPAdP6ioA</string>
	<key>GCM_SENDER_ID</key>
	<string>121492766993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tahaturan.testone.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-dd1e7</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-dd1e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121492766993:ios:ce223d26318bd927d70cb0</string>
</dict>
</plist>